
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
}
#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) auto;
    grid-template-rows: 80px, 50px, 600px;
    grid-template-areas: 
    "hea nav"
    "se1 se1"
    "se2 se2"
    ;
    
}

#nav{
    grid-area: nav;
    height: 110px;
    width: 110px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#header{
    grid-area: hea;
    height: 110px;
    flex: auto;
    width: auto;
    background-color: red;
    z-index: 5;
}

#section_1{
    grid-area: se1;
    height: 400px;
    background-image: url("../img/Child_playing.jpg");
    background-size: cover;
}

#section_2{
    grid-area: se2;
    height: 500px;
    background-color: yellow;
    z-index: 2;
}
/* styling av klass */
.links_visible {
    transform: translateY(500px);
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: darkgreen;
    border-radius: 20%;
    transition: all 0.5s;
}

.arrow_img {
    width: 50px;
    height: auto;
    margin: 10px;
} 

.article_text {
    font-size: 1rem;
}
#header_link_list:link {
    color: brown;
    
}
/* styling av id */
#burger_link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    border: 1px solid grey;
    background-color: grey;
}

#burger {
    margin-right: 0px;
    cursor: pointer;
    background-color: aqua;
}
